<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="#">

        <!--Jquery 1.11.1-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>
            Hello {{ user }}

            {% if user.is_authenticated %}   
                <form method="POST" action="/home">
                    {% csrf_token %}
                    <button name="form" value="logout">Logout</button>
                </form>
            {% endif %}
        </h1>

        <div>
            {% if user.is_superuser %}<a href="/admin/">Admin panel</a>{% endif %}
            <a href="/home">Main page</a>
            <a href="/profile">My profile</a>
        </div>
        
        <hr>
        
        {% block content %}
        {% endblock %}
    </body>
</html>